@model TechnicalDogsbody.Optimizely.DeveloperTools.Framework.Requests.ModelReset.ModelResetResponse

@{
    Layout = "_ShellLayout";
}
<div class="epi-contentArea">
    <h1>Model Version Reset</h1>
    <h4>This will reset all the Model/Content Type versions to @Model.Version based on the Start Page version</h4>


    @if (Model.Reset)
    {
        <h5>Update is complete, please restart the web application for this to take effect.</h5>
    }

    <br /><br />
    <form method="get">
        <button type="submit" name="reset" value="true">Reset Content Types</button>

    <br /><br />
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Version</td>
            <td></td>
        </tr>
        </thead>
        @foreach (var item in Model.ContentTypes)
        {
            var version = item.ModelType.Split(", ", StringSplitOptions.RemoveEmptyEntries).FirstOrDefault(x => x.StartsWith("Version="))?.Split('=').Last();
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@version</td>
                <td><input type="checkbox" name="ids" value="@item.Id" disabled="@(version?.Equals(Model.Version))"/></td>
            </tr>
        }
    </table>
    </form>
</div>
