@model TechnicalDogsbody.Optimizely.DeveloperTools.Framework.Requests.ResetScheduledTasks.ResetScheduledTasksResponse

@{
    Layout = "_ShellLayout";
}

<div class="epi-contentArea">
    <h1>Reset Stuck Scheduled Tasks</h1>
    <h4>This will stop any stuck scheduled tasks (note: this only updates the database, it doesn't kill any processes).</h4>


    @if (Model.Reset)
    {
            <br />

        <br />
            <h5>Jobs have been reset</h5>
    }

    <br /><br />
    <form method="get">

        <button type="submit" name="reset" value="true">Stop Stuck Scheduled Tasks</button>

        <br/><br/>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Is Running?</td>
                <td></td>
            </tr>
            </thead>
            @foreach (var item in Model.Tasks)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.IsRunning</td>
                        <td><input type="checkbox" name="ids" value="@item.Id" disabled="@(!item.IsRunning)"/></td>
                    </tr>

            }
        </table>
    </form>
</div>